.webisora-demo {
    max-width: 350px;
    max-height: 400px;
 }

#rotate-this{
  width: 300px;
}

#background {
    width: 300px;
    margin: 8%;
}

#instructions {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

